@import 'variables.scss';
@import '../css/bootstrap.min.css';
@import '../css/aos.min.css';
@import '../css/slick.css';
@import '../css/slick-theme.css';
@import '../css/framework.css';
@import 'layout.scss';